<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vidnik</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Doc</string>
			<key>CFBundleTypeName</key>
			<string>TDoc</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>YTDi</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>TDiaryDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mov</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>TDiaryDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>${PRODUCT_VERSION}, © 2008 Google Inc.</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Vidnik Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Vidnik Help</string>
	<key>CFBundleIconFile</key>
	<string>App</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.code.vidnik</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
  <key>CFBundleShortVersionString</key>
	<string>${PRODUCT_VERSION}</string>  
	<key>CFBundleSignature</key>
	<string>YTDi</string>
	<key>CFBundleVersion</key>
	<string>${PRODUCT_VERSION}</string>
  <key>com.apple.PreferenceSync.ExcludeSyncKeys</key>
  <array><string>lastDocumentPath</string></array>
	<key>LSEnvironment</key>
	<dict>
		<key>MinimumSystemVersion</key>
		<string>10.4.0</string>
	</dict>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>OSAScriptingDefinition</key>
	<string>Vidnik.sdef</string>
	<key>SUCheckAtStartup</key>
	<string>NO</string>
	<key>SUFeedURL</key>
	<string>http://vidnik.googlecode.com/svn/trunk/vidnik-su-rss.xml</string>
	<key>SUScheduledCheckInterval</key>
	<integer>604800</integer>
</dict>
</plist>
